.cover {
  background-image: linear-gradient(45deg, #58126a 0%, #f6b2e1 100%);
  overflow: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 150px;
  width: 100%;
  padding: 150px 0 0;
}

.hero-section {
  perspective: 1000px;
  color: white;
  margin: 0 auto;
  width: 400px;
  position: relative;

  &__title {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 18px;
  }
}

.image {
  border-radius: 100%;
  margin-bottom: 25px;
  width: 300px;
  height: 300px;
  max-width: 100%;
}

.hero-welcome-text > h1 {
  color: white;
  text-transform: uppercase;
}

.hero-welcome-bio {
  margin-top: 20px;
  color: white;

  .fa-stack {
    font-size: 28px;
  }

  .list-inline-item {
    > a {
      color: #373737;
    }
  }
}

.hero-welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .hero-section {
    width: 341px;
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

.shadow-custom-2 {
  border: 2px solid #f37d49;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.3);
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
